background-color: FFFFFF;
background-image: url("pink2.png");
background-size: cover; 
    }
/* napit */
	 .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 17px; 
      padding-top: 175px;
    }

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
  background-image: linear-gradient(
    to top left,
    rgb(255,20,147),
    rgb(255,20,147) 30%,
    transparent

  );
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}
/* napin värin vaihto kun hiiri on sen päällä */
.styled:hover {
  background-color: salmon;
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(0 0 0 / 0.6);
}
/* laatikko jonka sisällä asetukset ovat */
.settings-box {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      border: 2px solid #888;
      padding: 20px;
      z-index: 10;
      width: 300px;
      border-radius: 15px;
      box-shadow:
        inset 2px 2px 3px rgb(255 255 255 / 0.6),
        inset -2px -2px 3px rgb(0 0 0 / 0.6);
    }

    .settings-box h2 {
      margin-top: 0;
    }

    .close-btn {
      float: right;
      font-size: 20px;
      font-weight: bold;
      color: #888;
      cursor: pointer;
    }
/* x merkin värin vaihto kun hiiri on sen yllä */
    .close-btn:hover {
      color: black;
    }

    /* Taustahimmennys */
    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 5;
    }

    /* Play/Pause nappi musiikkiin */
    #audioControlBtn {
      margin-top: 15px;
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 10px;
      border: none;
      background-color: #ff1493;
      color: white;
      box-shadow:
        inset 2px 2px 3px rgb(255 255 255 / 0.6),
        inset -2px -2px 3px rgb(0 0 0 / 0.6);
    }
/* värin vaihto kun hiiri on napin päällä */
    #audioControlBtn:hover {
      background-color: salmon;
    }
